@import '../tools/mixins/margin';

.u-font-size {
  &--smaller {
    font-size: 0.75em;
  }
  &--medium {
    font-size: $font-size-medium;
  }
  &--bigger {
    font-size: 1.5em;
  }
  &--big {
    font-size: 2.5em;
  }
  &--caption {
    font-size: $font-size-caption;
  }
}

.u-font-weight {
  &--normal {
    font-weight: $font-weight-normal;
  }
  &--bold {
    font-weight: $font-weight-bold;
  }
}

.u-font-underline {
  padding-bottom: 0.25em;
  border-bottom: 0.125em solid $color-neutral;

  &--color-primary {
    border-color: $color-primary;
  }
}

.u-line-height {
  &--bigger {
    line-height: 1.5em;
  }
}
